@page "/CreateUser"
@using WannabeReddit.HttpClients.ClientInterfaces
@using WannabeReddit.Services
@using WannabeRedditShared.Domain.DTOs
@inject IAuthService authService;

<div class="card">
    <h3>Create User</h3>
    <div class="form-group field">
        <label>Username:</label>
        <input type="text" @bind="username" @bind:event="oninput"/>

        <div></div>
        <label>Password:</label>
        <input type="text" @bind="password" @bind:event="oninput"/>
    </div>
    <div class="button-row">
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(username))" class="acceptbtn">Create</button>
    </div>
    @if (!string.IsNullOrEmpty(resultMsg))
    {
        <label style="color: @color">@resultMsg</label>
    }
</div>

@code {
    private String username = "";
    private String password = "";
    private String resultMsg = "";
    private String color = "";

    private async Task Create()
    {
        resultMsg = "";

        try {
            var userCreateResult = await authService.RegisterAsync(new UserCreate(username, password));
            if (userCreateResult.HasValidationError) {
                resultMsg = userCreateResult.ValidationError;
                color = "red";
            } else {
                resultMsg = "User success";
                color = "green";
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}
