@page "/home"
@using WannabeReddit.HttpClients.ClientInterfaces
@using WannabeRedditShared.Domain.DTOs
@inject IPostService PostService

<PageTitle>Home</PageTitle>

<h1>Wannabe Reddit</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var posts = await PostService.GetPostsAsync(new PostSearch(null, null, null));
        currentCount = posts.Count();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
