@page "/home"
@using WannabeReddit.HttpClients.ClientInterfaces
@using WannabeRedditShared.Domain.DTOs
@using WannabeRedditShared.Domain.Models
@inject IPostService PostService

<PageTitle>Home</PageTitle>

<h1>Posts</h1>
@foreach (var post in posts)
{
    <hr/>
    <p>
        <span class="h3">@post.Title</span>
        <span class="- "></span>
        <span class="text-muted">@post.Author.Name</span>
    </p>
    <p>@post.Body</p>
}

@code {
    private List<Post> posts = new List<Post>();
    private readonly PostSearch searchParams = new(null, null, null);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Search();
    }

    private async Task Search()
    {
        var fromServer = await PostService.GetPostsAsync(searchParams);
        posts = fromServer.ToList();
    }

}
